[View in Colaboratory](https://colab.research.google.com/github/Yashwardhankaul/ww2_data_visualization/blob/master/ww2_weather_data.ipynb)

In [0]:
import pandas as pd

In [0]:
import requests

In [10]:
!pip install kaggle
from google.colab import files
files.upload()

Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/c6/78/832b9a9ec6b3baf8ec566e1f0a695f2fd08d2c94a6797257a106304bfc3c/kaggle-1.4.7.1.tar.gz (52kB)
    100% |████████████████████████████████| 61kB 2.9MB/s
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.8.24)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.25.0)
Collecting python-slugify (from kaggle)
  Downloading https://files.pythonhosted.org/packages/00/ad/c778a6df614b6217c30fe80045b365bfa08b5dd3cb02e8b37a6d25126781/python-slugify-1.2.6.tar.gz
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Collecting Unidecode>=0.04.16 (from python-slugify->kaggle)
  Downloading https://files.pythonhosted.org/packages/59/ef/67085e30e8bbcdd76e2f0a4ad8151c13a2c5bce77c85f8cad6e1f16fb141/Unidecode-1.0.22-py2.py3-none-any.whl (235kB)
    100% |████████████████████████████████| 235kB 5.8MB/s
Building wheels for collected packages: kaggle, python-slugify
  Running setup.py bdist_wheel for kaggle ... - \ done
  Stored in directory: /root/.cache/pip/wheels/44/2c/df/22a6eeb780c36c28190faef6252b739fdc47145fd87a6642d4
  Running setup.py bdist_wheel for python-slugify ... - done
  Stored in directory: /root/.cache/pip/wheels/e3/65/da/2045deea3098ed7471eca0e2460cfbd3fdfe8c1d6fa6fcac92
Successfully built kaggle python-slugify
Installing collected packages: Unidecode, python-slugify, kaggle
Successfully installed Unidecode-1.0.22 kaggle-1.4.7.1 python-slugify-1.2.6

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"yashwardhankaul","key":"9ac9612f45bb02efaf46f63982591058"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [12]:
!kaggle datasets download -d smid80/weatherww2

Downloading weatherww2.zip to /content
  0% 0.00/1.65M [00:00<?, ?B/s]
100% 1.65M/1.65M [00:00<00:00, 91.0MB/s]

In [14]:
!ls

kaggle.json  sample_data  weatherww2.zip

In [15]:
!unzip weatherww2.zip

Archive:  weatherww2.zip
  inflating: Summary of Weather.csv
  inflating: Weather Station Locations.csv

In [16]:
!ls

kaggle.json  Summary of Weather.csv	    weatherww2.zip
sample_data  Weather Station Locations.csv

In [17]:
station_loc = pd.read_csv('Weather Station Locations.csv')
s_l = pd.DataFrame(station_loc)
print (s_l)

      WBAN                         NAME STATE/COUNTRY ID    LAT     LON  ELEV  \
0    33013                       AIN EL               AL  3623N  00637E   611
1    33031                     LA SENIA               AL  3537N  00037E    88
2    33023               MAISON BLANCHE               AL  3643N  00314E    23
3    33044                     TELERGMA               AL  3607N  00621E   754
4    12001                      TINDOUF               AL  2741N  00809W   443
5    11604      ST JOHNS/COOLIDGE FIELD               AT  1707N  06147W    10
6    82502                      AMBERLY               AU  2736S  15243E    27
7    82501                       ARCHER               AU  2735S  15301E    19
8    82506                     BRISBANE               AU  2726S  15305E     2
9    82402                  CHARLEVILLE               AU  2625S  14616E   300
10   82403                    CLONCURRY               AU  2041S  14030E   188
11   81404                  HORN ISLAND               AU  1036S  14218E    12
12   82404                    LONGREACH               AU  2327S  14408E   187
13   82405                       MACKAY               AU  2110S  14910E     8
14   82503                  ROCKHAMPTON               AU  2324S  15030E    13
15   13201                        LAJES               AZ  3846N  02706W    55
16   12706           GREAT EXUMA ISLAND               BA  2331N  07547W    19
17   13601                      BERMUDA               BE  3222N  06441W     6
18   32503               BAHREIN ISLAND               BN  2616N  05038E     1
19   11501               CHRISTS CHURCH               BR  1304N  05930W    55
20   10505                  CLEVELANDIA               BZ  0352N  05149W    29
21   50301          FERNANDO DE NORONHA               BZ  0350S  03225W    38
22   50302                    FORTALEZA               BZ  0346S  03833W    23
23   50304                   PARNAMIRIM               BZ  0554S  03515W    50
24   50303                       RECIFE               BZ  0807S  03455W     9
25   50403                     SAO LUIZ               BZ  0235S  04414W    47
26   50401                  VAL DE CANS               BZ  0123S  04829W    13
27   10807                      PARRITA               CS  0931N  08420W     6
28   10806                     SAN JOSE               CS  0954N  08408W  1132
29   60701                CANTON ISLAND               CT  0246S  17143W     3
..     ...                          ...              ...    ...     ...   ...
131  42401                  IWO JIMA/AB               PI  2447N  14119E   114
132  40601                KWAJALEIN/AFB               PI  0843N  16744E     3
133  20602  PALMYRA ISLAND/LINE ISLANDS               PI  0553N  16205W     2
134  32603                      BHOLARI               PK  2519N  06812E    53
135  32602                       JIWANI               PK  2504N  06148E    56
136  32601                      KARACHI               PK  2454N  06711E    21
137  10701               BALBOA/ALBROOK               PM  0858N  07933W     9
138  10804                        DAVID               PM  0823N  08226W    23
139  10718                   FORT KOBBE               PM  0855N  07936W    16
140  10705                       HOWARD               PM  0855N  07936W    10
141  10704                        JAQUE               PM  0730N  07810W     5
142  10802                        POCRI               PM  0744N  08008W    14
143  10703                   REY ISLAND               PM  0814N  07854W    24
144  10803                     RIO HATO               PM  0822N  08008W    22
145  15605             KUUJJAUQ/AIRPORT               PQ  5806N  06825W   816
146  15604                       MINGAN               PQ  5017N  06410W    23
147  50802                       TALARA               PR  0432S  08114W    88
148  11101            DAKAR/EKNES FIELD               SG  1443N  01714W    22
149  11103          DAKAR/MALLARD FIELD               SG  1445N  01730W    21
150  80510                   BANIKA/AAF               SO  0904S  15914E    18
151  80504                    MUNDA/AAF               SO  0820S  15716E     8
152  34018                       ISTRES               SP  4330N  00457E    24
153  11610                   WALLER/BWI               TD  1037N  06113W    41
154  12702          SOUTH CAICOS ISLAND               TI  2129N  07131W     4
155  62701             TONGATABU ISLAND               TO  2115S  17508W    30
156  33109                    EL AQUINA               TS  3651N  01015E     4
157  33121                      EL DJEM               TS  3520N  01040E  9999
158  33003                   SISI AHMED               TS  3712N  00950E     4
159  33307                        ADANA               TU  3659N  03518E    20
160  15027                   WARRINGTON               UK  5323N  00239W    27

      Latitude   Longitude
0    36.383333    6.650000
1    35.616667    0.583333
2    36.716667    3.216667
3    36.116667    6.416667
4    27.683333   -8.083333
5    17.116667  -61.733333
6   -27.600000  152.816667
7   -27.583333  153.000000
8   -27.433333  153.133333
9   -26.416667  146.216667
10  -20.683333  140.583333
11  -10.600000  142.166667
12  -23.450000  144.066667
13  -21.166667  149.300000
14  -23.400000  150.533333
15   38.766667  -27.033333
16   23.516667  -75.733333
17   32.366667  -64.666667
18   26.266667   50.566667
19   13.066667  -59.583333
20    3.866667  -51.750000
21   -3.833333  -32.483333
22   -3.766667  -38.616667
23   -5.900000  -35.300000
24   -8.116667  -34.883333
25   -2.583333  -44.233333
26   -1.383333  -48.366667
27    9.516667  -84.450000
28    9.900000  -84.000000
29   -2.766667 -171.750000
..         ...         ...
131  24.783333  141.266667
132   8.716667  167.783333
133   5.883333 -162.050000
134  25.316667   68.183333
135  25.066667   61.800000
136  24.900000   67.250000
137   8.966667  -79.500000
138   8.383333  -82.333333
139   8.916667  -79.633333
140   8.916667  -79.650000
141   7.500000  -78.016667
142   7.733333  -80.000000
143   8.233333  -78.083333
144   8.366667  -80.000000
145  58.100000  -68.033333
146  50.283333  -64.016667
147  -4.533333  -81.016667
148  14.716667  -17.016667
149  14.750000  -17.050000
150  -9.066667  159.016667
151  -8.333333  157.016667
152  43.500000    4.083333
153  10.616667  -61.016667
154  21.483333  -71.050000
155 -21.250000 -175.000000
156  36.850000   10.016667
157  35.333333   10.066667
158  37.200000    9.083333
159  36.983333   35.016667
160  53.383333   -2.050000

[161 rows x 8 columns]

In [18]:
weather = pd.read_csv('Summary of Weather.csv')
w = pd.DataFrame(weather)
print (w)

          STA        Date  Precip  WindGustSpd    MaxTemp    MinTemp  \
0       10001    1942-7-1   1.016          NaN  25.555556  22.222222
1       10001    1942-7-2       0          NaN  28.888889  21.666667
2       10001    1942-7-3    2.54          NaN  26.111111  22.222222
3       10001    1942-7-4    2.54          NaN  26.666667  22.222222
4       10001    1942-7-5       0          NaN  26.666667  21.666667
5       10001    1942-7-6       0          NaN  26.666667  21.666667
6       10001    1942-7-7       T          NaN  28.333333  22.777778
7       10001    1942-7-8   3.556          NaN  26.666667  22.222222
8       10001    1942-7-9       T          NaN  27.222222  22.777778
9       10001   1942-7-10   3.556          NaN  25.555556  21.666667
10      10001   1942-7-11       0          NaN  25.555556  21.666667
11      10001   1942-7-12   0.508          NaN  24.444444  22.222222
12      10001   1942-7-13       0          NaN  26.111111  21.666667
13      10001   1942-7-14       0          NaN  26.111111  22.222222
14      10001   1942-7-15       0          NaN  25.555556  22.777778
15      10001   1942-7-16       T          NaN  26.111111  21.111111
16      10001   1942-7-17       T          NaN  28.333333  22.222222
17      10001   1942-7-18       T          NaN  26.666667  21.111111
18      10001   1942-7-19       0          NaN  27.777778  21.666667
19      10001   1942-7-20       0          NaN  26.111111  20.000000
20      10001   1942-7-21       T          NaN  24.444444  21.666667
21      10001   1942-7-22       T          NaN  24.444444  21.111111
22      10001   1942-7-23       0          NaN  26.666667  20.555556
23      10001   1942-7-24       0          NaN  27.222222  18.888889
24      10001   1942-7-25       0          NaN  27.222222  19.444444
25      10001   1942-7-26       0          NaN  25.555556  19.444444
26      10001   1942-7-27       0          NaN  25.555556  19.444444
27      10001   1942-7-28       0          NaN  26.666667  19.444444
28      10001   1942-7-29       0          NaN  26.666667  19.444444
29      10001   1942-7-30       0          NaN  27.222222  19.444444
...       ...         ...     ...          ...        ...        ...
119010  82506   1945-12-2  24.384          NaN  28.333333  18.888889
119011  82506   1945-12-3   0.762          NaN  27.777778  18.333333
119012  82506   1945-12-4  36.068          NaN  29.444444  17.777778
119013  82506   1945-12-5  12.446          NaN  21.111111  17.222222
119014  82506   1945-12-6       T          NaN  27.222222  17.777778
119015  82506   1945-12-7       0          NaN  27.222222  17.222222
119016  82506   1945-12-8   0.762          NaN  26.111111  19.444444
119017  82506   1945-12-9       0          NaN  30.555556  19.444444
119018  82506  1945-12-10       T          NaN  30.000000  19.444444
119019  82506  1945-12-11   0.254          NaN  28.888889  22.777778
119020  82506  1945-12-12       0          NaN  30.555556  22.222222
119021  82506  1945-12-13  19.304          NaN  32.222222  20.000000
119022  82506  1945-12-14       0          NaN  31.111111  20.555556
119023  82506  1945-12-15   0.762          NaN  30.555556  20.555556
119024  82506  1945-12-16       0          NaN  29.444444  21.666667
119025  82506  1945-12-17       0          NaN  28.888889  21.111111
119026  82506  1945-12-18  19.812          NaN  30.555556  19.444444
119027  82506  1945-12-19   10.16          NaN  25.555556  18.888889
119028  82506  1945-12-20       0          NaN  26.666667  17.777778
119029  82506  1945-12-21       0          NaN  28.888889  18.888889
119030  82506  1945-12-22       0          NaN  28.888889  17.222222
119031  82506  1945-12-23       T          NaN  28.333333  18.333333
119032  82506  1945-12-24       0          NaN  28.333333  20.000000
119033  82506  1945-12-25   0.508          NaN  28.888889  18.888889
119034  82506  1945-12-26       0          NaN  29.444444  18.888889
119035  82506  1945-12-27       0          NaN  28.333333  18.333333
119036  82506  1945-12-28   9.906          NaN  29.444444  18.333333
119037  82506  1945-12-29       0          NaN  28.333333  18.333333
119038  82506  1945-12-30       0          NaN  28.333333  18.333333
119039  82506  1945-12-31       0          NaN  29.444444  17.222222

         MeanTemp Snowfall PoorWeather  YR ...   FB  FTI ITH  PGT  TSHDSBRSGF  \
0       23.888889        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
1       25.555556        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
2       24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
3       24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
4       24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
5       24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
6       25.555556        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
7       24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
8       25.000000        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
9       23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
10      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
11      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
12      23.888889        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
13      24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
14      24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
15      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
16      25.555556        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
17      23.888889        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
18      24.444444        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
19      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
20      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
21      22.777778        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
22      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
23      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
24      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
25      22.222222        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
26      22.777778        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
27      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
28      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
29      23.333333        0         NaN  42 ...  NaN  NaN NaN  NaN         NaN
...           ...      ...         ...  .. ...   ..  ...  ..  ...         ...
119010  23.333333        0           1  45 ...  NaN  NaN NaN  NaN           1
119011  23.333333        0           1  45 ...  NaN  NaN NaN  NaN           1
119012  23.333333        0           1  45 ...  NaN  NaN NaN  NaN           1
119013  18.888889        0           1  45 ...  NaN  NaN NaN  NaN           1
119014  22.222222        0           1  45 ...  NaN  NaN NaN  NaN           1
119015  22.222222        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119016  22.777778        0           1  45 ...  NaN  NaN NaN  NaN           1
119017  25.000000        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119018  24.444444        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119019  25.555556        0           1  45 ...  NaN  NaN NaN  NaN           1
119020  26.666667        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119021  26.111111        0           1  45 ...  NaN  NaN NaN  NaN           1
119022  25.555556        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119023  25.555556        0           1  45 ...  NaN  NaN NaN  NaN           1
119024  25.555556        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119025  25.000000        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119026  25.000000        0           1  45 ...  NaN  NaN NaN  NaN           1
119027  22.222222        0           1  45 ...  NaN  NaN NaN  NaN           1
119028  22.222222        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119029  23.888889        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119030  23.333333        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119031  23.333333        0           1  45 ...  NaN  NaN NaN  NaN           1
119032  24.444444        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119033  23.888889        0           1  45 ...  NaN  NaN NaN  NaN           1
119034  24.444444        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119035  23.333333        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119036  23.888889        0           1  45 ...  NaN  NaN NaN  NaN           1
119037  23.333333        0           1  45 ...  NaN  NaN NaN  NaN           1
119038  23.333333        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN
119039  23.333333        0         NaN  45 ...  NaN  NaN NaN  NaN         NaN

        SD3  RHX  RHN RVG  WTE
0       NaN  NaN  NaN NaN  NaN
1       NaN  NaN  NaN NaN  NaN
2       NaN  NaN  NaN NaN  NaN
3       NaN  NaN  NaN NaN  NaN
4       NaN  NaN  NaN NaN  NaN
5       NaN  NaN  NaN NaN  NaN
6       NaN  NaN  NaN NaN  NaN
7       NaN  NaN  NaN NaN  NaN
8       NaN  NaN  NaN NaN  NaN
9       NaN  NaN  NaN NaN  NaN
10      NaN  NaN  NaN NaN  NaN
11      NaN  NaN  NaN NaN  NaN
12      NaN  NaN  NaN NaN  NaN
13      NaN  NaN  NaN NaN  NaN
14      NaN  NaN  NaN NaN  NaN
15      NaN  NaN  NaN NaN  NaN
16      NaN  NaN  NaN NaN  NaN
17      NaN  NaN  NaN NaN  NaN
18      NaN  NaN  NaN NaN  NaN
19      NaN  NaN  NaN NaN  NaN
20      NaN  NaN  NaN NaN  NaN
21      NaN  NaN  NaN NaN  NaN
22      NaN  NaN  NaN NaN  NaN
23      NaN  NaN  NaN NaN  NaN
24      NaN  NaN  NaN NaN  NaN
25      NaN  NaN  NaN NaN  NaN
26      NaN  NaN  NaN NaN  NaN
27      NaN  NaN  NaN NaN  NaN
28      NaN  NaN  NaN NaN  NaN
29      NaN  NaN  NaN NaN  NaN
...     ...  ...  ...  ..  ...
119010  NaN  NaN  NaN NaN  NaN
119011  NaN  NaN  NaN NaN  NaN
119012  NaN  NaN  NaN NaN  NaN
119013  NaN  NaN  NaN NaN  NaN
119014  NaN  NaN  NaN NaN  NaN
119015  NaN  NaN  NaN NaN  NaN
119016  NaN  NaN  NaN NaN  NaN
119017  NaN  NaN  NaN NaN  NaN
119018  NaN  NaN  NaN NaN  NaN
119019  NaN  NaN  NaN NaN  NaN
119020  NaN  NaN  NaN NaN  NaN
119021  NaN  NaN  NaN NaN  NaN
119022  NaN  NaN  NaN NaN  NaN
119023  NaN  NaN  NaN NaN  NaN
119024  NaN  NaN  NaN NaN  NaN
119025  NaN  NaN  NaN NaN  NaN
119026  NaN  NaN  NaN NaN  NaN
119027  NaN  NaN  NaN NaN  NaN
119028  NaN  NaN  NaN NaN  NaN
119029  NaN  NaN  NaN NaN  NaN
119030  NaN  NaN  NaN NaN  NaN
119031  NaN  NaN  NaN NaN  NaN
119032  NaN  NaN  NaN NaN  NaN
119033  NaN  NaN  NaN NaN  NaN
119034  NaN  NaN  NaN NaN  NaN
119035  NaN  NaN  NaN NaN  NaN
119036  NaN  NaN  NaN NaN  NaN
119037  NaN  NaN  NaN NaN  NaN
119038  NaN  NaN  NaN NaN  NaN
119039  NaN  NaN  NaN NaN  NaN

[119040 rows x 31 columns]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.

In [19]:
s_l.describe()

               WBAN         ELEV    Latitude   Longitude
count    161.000000   161.000000  161.000000  161.000000
mean   33421.440994   439.850932   20.347205    8.364182
std    20826.534394  1745.422339   21.042992   87.420419
min    10001.000000     1.000000  -27.600000 -175.000000
25%    13601.000000     9.000000    8.233333  -60.850000
50%    32906.000000    27.000000   22.333333    9.083333
75%    34150.000000    98.000000   36.116667   67.250000
max    82506.000000  9999.000000   67.016667  177.366667

In [20]:
w.describe()

,STA,WindGustSpd,MaxTemp,MinTemp,MeanTemp,YR,MO,DA,DR,SPD,...,FT,FB,FTI,ITH,PGT,SD3,RHX,RHN,RVG,WTE
count,119040.000000,532.000000,119040.000000,119040.000000,119040.000000,119040.000000,119040.000000,119040.000000,533.000000,532.000000,...,0.0,0.0,0.0,0.0,525.000000,0.0,0.0,0.0,0.0,0.0
mean,29659.435795,37.774534,27.045111,17.789511,22.411631,43.805284,6.726016,15.797530,26.998124,20.396617,...,NaN,NaN,NaN,NaN,12.085333,NaN,NaN,NaN,NaN,NaN
std,20953.209402,10.297808,8.717817,8.334572,8.297982,1.136718,3.425561,8.794541,15.221732,5.560371,...,NaN,NaN,NaN,NaN,5.731328,NaN,NaN,NaN,NaN,NaN
min,10001.000000,18.520000,-33.333333,-38.333333,-35.555556,40.000000,1.000000,1.000000,2.000000,10.000000,...,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,11801.000000,29.632000,25.555556,15.000000,20.555556,43.000000,4.000000,8.000000,11.000000,16.000000,...,NaN,NaN,NaN,NaN,8.500000,NaN,NaN,NaN,NaN,NaN
50%,22508.000000,37.040000,29.444444,21.111111,25.555556,44.000000,7.000000,16.000000,32.000000,20.000000,...,NaN,NaN,NaN,NaN,11.600000,NaN,NaN,NaN,NaN,NaN
75%,33501.000000,43.059000,31.666667,23.333333,27.222222,45.000000,10.000000,23.000000,34.000000,23.250000,...,NaN,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN
max,82506.000000,75.932000,50.000000,34.444444,40.000000,45.000000,12.000000,31.000000,78.000000,41.000000,...,NaN,NaN,NaN,NaN,23.900000,NaN,NaN,NaN,NaN,NaN

In [0]:
lat = s_l['Latitude']
lon = s_l['Longitude']
elev = s_l['ELEV']

In [0]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import csv

In [23]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (1.12.12)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from plotly) (2.18.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.11.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from plotly) (2018.5)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (2018.8.24)

In [0]:
name = s_l['NAME']
name

In [0]:
from IPython.display import display
from IPython.core.display import HTML

In [129]:
display(HTML("""<div>
    <a href="https://plot.ly/~yashwardhankaul/5/?share_key=3z3HdZaINKYrAvAP5Zmo2e" target="_blank" title="World War 2" style="display: block; text-align: center;"><img src="https://plot.ly/~yashwardhankaul/5.png?share_key=3z3HdZaINKYrAvAP5Zmo2e" alt="World War 2" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="yashwardhankaul:5" sharekey-plotly="3z3HdZaINKYrAvAP5Zmo2e" src="https://plot.ly/embed.js" async></script>
</div>
"""))